.hero-body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url('https://www.vmcdn.ca/f/files/via/images/canada-dogs.jpg;w=1000;h=464;mode=crop');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.footer {
  background-color: #acacac;
}

.is-size-1{
  font-size: 6rem!important;
  margin-left: 150px;
  font-family: Comfortaa, sans-serif;
  font-weight: 1000;
  transition: 1s ease-in-out;
}

.is-size-1:hover{
  text-shadow: -7px 7px #a200ff;
}

.is-size-3{
  font-size: 3rem!important;
  margin-left: 150px;
  font-family: Comfortaa, sans-serif;
  font-weight: 1;
}

.footer {
  font-family: Raleway, sans-serif;
  font-weight: 1;
  padding-bottom: 3rem;
  transition: 1s ease-in-out;
}

.footer:hover {
  letter-spacing: 1px;
}

.is-4 {
  font-family: Raleway, sans-serif;
  font-size: 4rem!important;
  font-weight: 500;
  padding: 4rem 4rem 4rem 4rem;

}

.select{
  border-radius: 0.5rem;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
  transition: 1s ease-in-out;
}

.select:hover{
  border-radius: 2rem;
  box-shadow: 0 0em 4em 1em rgb(10 10 255 / 50%), 0 0 0 1px rgb(10 10 10 / 2%);
}

.subtitle {
  color: #4a4a4a;
  transition: 1s ease-in-out;
}

.card:hover .subtitle {
  color: blue;
}

.modal-card-title {
  font-family: Raleway, sans-serif;
  font-weight: 900;
  font-style: italic;
  
  transition: 1s ease-in-out;
}

h2 {
  font-family: Raleway, sans-serif;
  font-weight: 900;
}

.modal-card{
  border-radius: 0.5rem;
  transition: 1.0s ease-in-out;

}

.modal-card:hover{
  box-shadow: 0 0em 6em 1em rgb(10 255 10 / 50%), 0 0 0 1px rgb(10 10 10 / 2%);
}


.delete{
  transition: 0.5s ease-in-out;
}

.delete:hover{
  background-color: red;
}

.popup{
  overflow-x: hidden;
  overflow-y: hidden;
}

.submiter{
    background-color: #ffffff;
    transition: 0.75s ease-in-out;
}

.submit-button-div{
    padding: 3rem 3rem 3rem 3rem;
}

.page-change{
    padding: 0rem 0rem 0rem 0rem;
    
}

.input-page-button{
    margin-left: 150px;

}

.is-info{
    transition: 0.75s ease-in-out;
}

.is-info:hover{
    box-shadow: 0 0em 4em 1em rgb(10 255 10 / 80%), 0 0 0 1px rgb(10 10 10 / 2%);
}
